{% extends 'layouts/base.html' %}
{% block title %} Easy	Manager - Users	{% endblock %}

{% block body %}
<div class="container" >
   <a href="#Report" class ="btn btn-primary" role="button">Report</a>
   <div class="dropdown">
       <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Users
       <span class="caret"></span></button>
       <ul class="dropdown-menu">
           <input class="form-control" id="userFilter" type="text" placeholder="Filter...">
           <li ><a data-toggle="pill" href="#root">root</a></li>
           <li ><a data-toggle="pill" href="#daemon">daemon</a></li>
           <li ><a data-toggle="pill" href="#bin">bin</a></li>
           <li ><a data-toggle="pill" href="#sys">sys</a></li>
           <li ><a data-toggle="pill" href="#adm">adm</a></li>
           <li ><a data-toggle="pill" href="#uucp">uucp</a></li>
           <li ><a data-toggle="pill" href="#guest">guest</a></li>
           <li ><a data-toggle="pill" href="#nobody">nobody</a></li>
           <li ><a data-toggle="pill" href="#lpd">lpd</a></li>
           <li ><a data-toggle="pill" href="#lp">lp</a></li>
           <li ><a data-toggle="pill" href="#invscout">invscout</a></li>
           <li ><a data-toggle="pill" href="#snapp">snapp</a></li>
           <li ><a data-toggle="pill" href="#ipsec">ipsec</a></li>
           <li ><a data-toggle="pill" href="#nuucp">nuucp</a></li>
           <li ><a data-toggle="pill" href="#pconsole">pconsole</a></li>
           <li ><a data-toggle="pill" href="#srvproxy">srvproxy</a></li>
           <li ><a data-toggle="pill" href="#esaadmin">esaadmin</a></li>
           <li ><a data-toggle="pill" href="#sshd">sshd</a></li>
           <li ><a data-toggle="pill" href="#nagios">nagios</a></li>
           <li ><a data-toggle="pill" href="#critter">critter</a></li>
           <li ><a data-toggle="pill" href="#ujanssen">ujanssen</a></li>
           <li ><a data-toggle="pill" href="#nketelse">nketelse</a></li>
           <li ><a data-toggle="pill" href="#ohannula">ohannula</a></li>
           <li ><a data-toggle="pill" href="#rwolter">rwolter</a></li>
           <li ><a data-toggle="pill" href="#kharrak">kharrak</a></li>
           <li ><a data-toggle="pill" href="#hholst">hholst</a></li>
           <li ><a data-toggle="pill" href="#edi">edi</a></li>
           <li ><a data-toggle="pill" href="#ansiblec">ansiblec</a></li>
           <li ><a data-toggle="pill" href="#edi0">edi0</a></li>
           <li ><a data-toggle="pill" href="#edi2">edi2</a></li>
           <li ><a data-toggle="pill" href="#edi3">edi3</a></li>
           <li ><a data-toggle="pill" href="#edi4">edi4</a></li>
           <li ><a data-toggle="pill" href="#edi5">edi5</a></li>
           <li ><a data-toggle="pill" href="#extdr">extdr</a></li>
           <li ><a data-toggle="pill" href="#micsw">micsw</a></li>
           <li ><a data-toggle="pill" href="#miejf">miejf</a></li>
           <li ><a data-toggle="pill" href="#mieref">mieref</a></li>
           <li ><a data-toggle="pill" href="#oracle">oracle</a></li>
           <li ><a data-toggle="pill" href="#edi1">edi1</a></li>
           <li ><a data-toggle="pill" href="#edi6">edi6</a></li>
           <li ><a data-toggle="pill" href="#extrr">extrr</a></li>
           <li ><a data-toggle="pill" href="#extto">extto</a></li>
           <li ><a data-toggle="pill" href="#miehy">miehy</a></li>
           <li ><a data-toggle="pill" href="#extjr">extjr</a></li>
           <li ><a data-toggle="pill" href="#extjg">extjg</a></li>
           <li ><a data-toggle="pill" href="#extms">extms</a></li>
           <li ><a data-toggle="pill" href="#extbl">extbl</a></li>
           <li ><a data-toggle="pill" href="#gscpom">gscpom</a></li>
           <li ><a data-toggle="pill" href="#hkentgen">hkentgen</a></li>
           <li ><a data-toggle="pill" href="#extrn">extrn</a></li>
           <li ><a data-toggle="pill" href="#extfs">extfs</a></li>
           <li ><a data-toggle="pill" href="#extsi">extsi</a></li>
           <li ><a data-toggle="pill" href="#extas">extas</a></li>
           <li ><a data-toggle="pill" href="#extati">extati</a></li>
           <li ><a data-toggle="pill" href="#extjs">extjs</a></li>
           <li ><a data-toggle="pill" href="#tllak">tllak</a></li>
           <li ><a data-toggle="pill" href="#ftpedi">ftpedi</a></li>
           <li ><a data-toggle="pill" href="#jenkins">jenkins</a></li>
           <li ><a data-toggle="pill" href="#tllaa">tllaa</a></li>
           <li ><a data-toggle="pill" href="#tllsp">tllsp</a></li>
           <li ><a data-toggle="pill" href="#tlltl">tlltl</a></li>
           <li ><a data-toggle="pill" href="#tllpl">tllpl</a></li>
           <li ><a data-toggle="pill" href="#tlljm">tlljm</a></li>
           <li ><a data-toggle="pill" href="#nginx">nginx</a></li>
           <li ><a data-toggle="pill" href="#extrs">extrs</a></li>
           <li ><a data-toggle="pill" href="#miecg">miecg</a></li>
           <li ><a data-toggle="pill" href="#extnl">extnl</a></li>
           <li ><a data-toggle="pill" href="#hmcscan">hmcscan</a></li>
           <li ><a data-toggle="pill" href="#emrichp">emrichp</a></li>
       </ul>
   </div>
   <div class="tab-content">
       <div id="root" class="tab-pane">
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dehamsp40</th>
      <th>denotsp40</th>
      <th>denotsp41</th>
      <th>dehamsp36</th>
      <th>denotsp36</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>User</th>
      <td>root</td>
      <td>root</td>
      <td>root</td>
      <td>root</td>
      <td>root</td>
    </tr>
    <tr>
      <th>id</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>pgrp</th>
      <td>system</td>
      <td>system</td>
      <td>system</td>
      <td>system</td>
      <td>system</td>
    </tr>
    <tr>
      <th>groups</th>
      <td>system,bin,sys,security,cron,audit,lp</td>
      <td>system,bin,sys,security,cron,audit,lp</td>
      <td>system,bin,sys,security,cron,audit,lp</td>
      <td>system,bin,sys,security,cron,audit,lp</td>
      <td>system,bin,sys,security,cron,audit,lp</td>
    </tr>
    <tr>
      <th>home</th>
      <td>/</td>
      <td>/</td>
      <td>/</td>
      <td>/</td>
      <td>/</td>
    </tr>
    <tr>
      <th>shell</th>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
    </tr>
  </tbody>
</table>
       </div>
       <div id="daemon" class="tab-pane">
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dehamsp40</th>
      <th>denotsp40</th>
      <th>denotsp41</th>
      <th>dehamsp36</th>
      <th>denotsp36</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>User</th>
      <td>daemon</td>
      <td>daemon</td>
      <td>daemon</td>
      <td>daemon</td>
      <td>daemon</td>
    </tr>
    <tr>
      <th>id</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>pgrp</th>
      <td>staff</td>
      <td>staff</td>
      <td>staff</td>
      <td>staff</td>
      <td>staff</td>
    </tr>
    <tr>
      <th>groups</th>
      <td>staff</td>
      <td>staff</td>
      <td>staff</td>
      <td>staff</td>
      <td>staff</td>
    </tr>
    <tr>
      <th>home</th>
      <td>/etc</td>
      <td>/etc</td>
      <td>/etc</td>
      <td>/etc</td>
      <td>/etc</td>
    </tr>
  </tbody>
</table>
       </div>
       <div id="bin" class="tab-pane">
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dehamsp40</th>
      <th>denotsp40</th>
      <th>denotsp41</th>
      <th>dehamsp36</th>
      <th>denotsp36</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>User</th>
      <td>bin</td>
      <td>bin</td>
      <td>bin</td>
      <td>bin</td>
      <td>bin</td>
    </tr>
    <tr>
      <th>id</th>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>pgrp</th>
      <td>bin</td>
      <td>bin</td>
      <td>bin</td>
      <td>bin</td>
      <td>bin</td>
    </tr>
    <tr>
      <th>groups</th>
      <td>bin,sys,adm</td>
      <td>bin,sys,adm</td>
      <td>bin,sys,adm</td>
      <td>bin,sys,adm</td>
      <td>bin,sys,adm</td>
    </tr>
    <tr>
      <th>home</th>
      <td>/bin</td>
      <td>/bin</td>
      <td>/bin</td>
      <td>/bin</td>
      <td>/bin</td>
    </tr>
  </tbody>
</table>
       </div>
       <div id="sys" class="tab-pane">
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dehamsp40</th>
      <th>denotsp40</th>
      <th>denotsp41</th>
      <th>dehamsp36</th>
      <th>denotsp36</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>User</th>
      <td>sys</td>
      <td>sys</td>
      <td>sys</td>
      <td>sys</td>
      <td>sys</td>
    </tr>
    <tr>
      <th>id</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>pgrp</th>
      <td>sys</td>
      <td>sys</td>
      <td>sys</td>
      <td>sys</td>
      <td>sys</td>
    </tr>
    <tr>
      <th>groups</th>
      <td>sys</td>
      <td>sys</td>
      <td>sys</td>
      <td>sys</td>
      <td>sys</td>
    </tr>
    <tr>
      <th>home</th>
      <td>/usr/sys</td>
      <td>/usr/sys</td>
      <td>/usr/sys</td>
      <td>/usr/sys</td>
      <td>/usr/sys</td>
    </tr>
  </tbody>
</table>
       </div>
       <div id="adm" class="tab-pane">
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dehamsp40</th>
      <th>denotsp40</th>
      <th>denotsp41</th>
      <th>dehamsp36</th>
      <th>denotsp36</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>User</th>
      <td>adm</td>
      <td>adm</td>
      <td>adm</td>
      <td>adm</td>
      <td>adm</td>
    </tr>
    <tr>
      <th>id</th>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>pgrp</th>
      <td>adm</td>
      <td>adm</td>
      <td>adm</td>
      <td>adm</td>
      <td>adm</td>
    </tr>
    <tr>
      <th>groups</th>
      <td>adm</td>
      <td>adm</td>
      <td>adm</td>
      <td>adm</td>
      <td>adm</td>
    </tr>
    <tr>
      <th>home</th>
      <td>/var/adm</td>
      <td>/var/adm</td>
      <td>/var/adm</td>
      <td>/var/adm</td>
      <td>/var/adm</td>
    </tr>
  </tbody>
</table>
       </div>
       <div id="uucp" class="tab-pane">
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dehamsp40</th>
      <th>denotsp40</th>
      <th>denotsp41</th>
      <th>dehamsp36</th>
      <th>denotsp36</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>User</th>
      <td>uucp</td>
      <td>uucp</td>
      <td>uucp</td>
      <td>uucp</td>
      <td>uucp</td>
    </tr>
    <tr>
      <th>id</th>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>pgrp</th>
      <td>uucp</td>
      <td>uucp</td>
      <td>uucp</td>
      <td>uucp</td>
      <td>uucp</td>
    </tr>
    <tr>
      <th>groups</th>
      <td>uucp</td>
      <td>uucp</td>
      <td>uucp</td>
      <td>uucp</td>
      <td>uucp</td>
    </tr>
    <tr>
      <th>home</th>
      <td>/usr/lib/uucp</td>
      <td>/usr/lib/uucp</td>
      <td>/usr/lib/uucp</td>
      <td>/usr/lib/uucp</td>
      <td>/usr/lib/uucp</td>
    </tr>
  </tbody>
</table>
       </div>
       <div id="guest" class="tab-pane">
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dehamsp40</th>
      <th>denotsp40</th>
      <th>denotsp41</th>
      <th>dehamsp36</th>
      <th>denotsp36</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>User</th>
      <td>guest</td>
      <td>guest</td>
      <td>guest</td>
      <td>guest</td>
      <td>guest</td>
    </tr>
    <tr>
      <th>id</th>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
    </tr>
    <tr>
      <th>pgrp</th>
      <td>usr</td>
      <td>usr</td>
      <td>usr</td>
      <td>usr</td>
      <td>usr</td>
    </tr>
    <tr>
      <th>groups</th>
      <td>usr</td>
      <td>usr</td>
      <td>usr</td>
      <td>usr</td>
      <td>usr</td>
    </tr>
    <tr>
      <th>home</th>
      <td>/home/guest</td>
      <td>/home/guest</td>
      <td>/home/guest</td>
      <td>/home/guest</td>
      <td>/home/guest</td>
    </tr>
  </tbody>
</table>
       </div>
       <div id="nobody" class="tab-pane">
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dehamsp40</th>
      <th>denotsp40</th>
      <th>denotsp41</th>
      <th>dehamsp36</th>
      <th>denotsp36</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>User</th>
      <td>nobody</td>
      <td>nobody</td>
      <td>nobody</td>
      <td>nobody</td>
      <td>nobody</td>
    </tr>
    <tr>
      <th>id</th>
      <td>4294967294</td>
      <td>4294967294</td>
      <td>4294967294</td>
      <td>4294967294</td>
      <td>4294967294</td>
    </tr>
    <tr>
      <th>pgrp</th>
      <td>nobody</td>
      <td>nobody</td>
      <td>nobody</td>
      <td>nobody</td>
      <td>nobody</td>
    </tr>
    <tr>
      <th>groups</th>
      <td>nobody</td>
      <td>nobody</td>
      <td>nobody</td>
      <td>nobody</td>
      <td>nobody</td>
    </tr>
    <tr>
      <th>home</th>
      <td>/</td>
      <td>/</td>
      <td>/</td>
      <td>/</td>
      <td>/</td>
    </tr>
  </tbody>
</table>
       </div>
       <div id="lpd" class="tab-pane">
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dehamsp40</th>
      <th>denotsp40</th>
      <th>denotsp41</th>
      <th>dehamsp36</th>
      <th>denotsp36</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>User</th>
      <td>lpd</td>
      <td>lpd</td>
      <td>lpd</td>
      <td>lpd</td>
      <td>lpd</td>
    </tr>
    <tr>
      <th>id</th>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>pgrp</th>
      <td>nobody</td>
      <td>nobody</td>
      <td>nobody</td>
      <td>nobody</td>
      <td>nobody</td>
    </tr>
    <tr>
      <th>groups</th>
      <td>nobody</td>
      <td>nobody</td>
      <td>nobody</td>
      <td>nobody</td>
      <td>nobody</td>
    </tr>
    <tr>
      <th>home</th>
      <td>/</td>
      <td>/</td>
      <td>/</td>
      <td>/</td>
      <td>/</td>
    </tr>
  </tbody>
</table>
       </div>
       <div id="lp" class="tab-pane">
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dehamsp40</th>
      <th>denotsp40</th>
      <th>denotsp41</th>
      <th>dehamsp36</th>
      <th>denotsp36</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>User</th>
      <td>lp</td>
      <td>lp</td>
      <td>lp</td>
      <td>lp</td>
      <td>lp</td>
    </tr>
    <tr>
      <th>id</th>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>pgrp</th>
      <td>lp</td>
      <td>lp</td>
      <td>lp</td>
      <td>lp</td>
      <td>lp</td>
    </tr>
    <tr>
      <th>groups</th>
      <td>lp,printq</td>
      <td>lp,printq</td>
      <td>lp,printq</td>
      <td>lp,printq</td>
      <td>lp,printq</td>
    </tr>
    <tr>
      <th>home</th>
      <td>/var/spool/lp</td>
      <td>/var/spool/lp</td>
      <td>/var/spool/lp</td>
      <td>/var/spool/lp</td>
      <td>/var/spool/lp</td>
    </tr>
    <tr>
      <th>shell</th>
      <td>/bin/false</td>
      <td>/bin/false</td>
      <td>/bin/false</td>
      <td>/bin/false</td>
      <td>/bin/false</td>
    </tr>
  </tbody>
</table>
       </div>
       <div id="invscout" class="tab-pane">
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dehamsp40</th>
      <th>denotsp40</th>
      <th>denotsp41</th>
      <th>dehamsp36</th>
      <th>denotsp36</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>User</th>
      <td>invscout</td>
      <td>invscout</td>
      <td>invscout</td>
      <td>invscout</td>
      <td>invscout</td>
    </tr>
    <tr>
      <th>id</th>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>pgrp</th>
      <td>invscout</td>
      <td>invscout</td>
      <td>invscout</td>
      <td>invscout</td>
      <td>invscout</td>
    </tr>
    <tr>
      <th>groups</th>
      <td>invscout</td>
      <td>invscout</td>
      <td>invscout</td>
      <td>invscout</td>
      <td>invscout</td>
    </tr>
    <tr>
      <th>home</th>
      <td>/var/adm/invscout</td>
      <td>/var/adm/invscout</td>
      <td>/var/adm/invscout</td>
      <td>/var/adm/invscout</td>
      <td>/var/adm/invscout</td>
    </tr>
    <tr>
      <th>shell</th>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
    </tr>
  </tbody>
</table>
       </div>
       <div id="snapp" class="tab-pane">
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dehamsp40</th>
      <th>denotsp40</th>
      <th>denotsp41</th>
      <th>dehamsp36</th>
      <th>denotsp36</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>User</th>
      <td>snapp</td>
      <td>snapp</td>
      <td>snapp</td>
      <td>snapp</td>
      <td>snapp</td>
    </tr>
    <tr>
      <th>id</th>
      <td>200</td>
      <td>200</td>
      <td>200</td>
      <td>200</td>
      <td>200</td>
    </tr>
    <tr>
      <th>pgrp</th>
      <td>snapp</td>
      <td>snapp</td>
      <td>snapp</td>
      <td>snapp</td>
      <td>snapp</td>
    </tr>
    <tr>
      <th>groups</th>
      <td>snapp</td>
      <td>snapp</td>
      <td>snapp</td>
      <td>snapp</td>
      <td>snapp</td>
    </tr>
    <tr>
      <th>home</th>
      <td>/usr/sbin/snapp</td>
      <td>/usr/sbin/snapp</td>
      <td>/usr/sbin/snapp</td>
      <td>/usr/sbin/snapp</td>
      <td>/usr/sbin/snapp</td>
    </tr>
    <tr>
      <th>shell</th>
      <td>/usr/sbin/snappd</td>
      <td>/usr/sbin/snappd</td>
      <td>/usr/sbin/snappd</td>
      <td>/usr/sbin/snappd</td>
      <td>/usr/sbin/snappd</td>
    </tr>
    <tr>
      <th>gecos</th>
      <td>snapp login user</td>
      <td>snapp login user</td>
      <td>snapp login user</td>
      <td>snapp login user</td>
      <td>snapp login user</td>
    </tr>
  </tbody>
</table>
       </div>
       <div id="ipsec" class="tab-pane">
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dehamsp40</th>
      <th>denotsp40</th>
      <th>denotsp41</th>
      <th>dehamsp36</th>
      <th>denotsp36</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>User</th>
      <td>ipsec</td>
      <td>ipsec</td>
      <td>ipsec</td>
      <td>ipsec</td>
      <td>ipsec</td>
    </tr>
    <tr>
      <th>id</th>
      <td>230</td>
      <td>201</td>
      <td>314</td>
      <td>201</td>
      <td>201</td>
    </tr>
    <tr>
      <th>pgrp</th>
      <td>staff</td>
      <td>staff</td>
      <td>staff</td>
      <td>staff</td>
      <td>staff</td>
    </tr>
    <tr>
      <th>groups</th>
      <td>staff</td>
      <td>staff</td>
      <td>staff</td>
      <td>staff</td>
      <td>staff</td>
    </tr>
    <tr>
      <th>home</th>
      <td>/etc/ipsec</td>
      <td>/etc/ipsec</td>
      <td>/etc/ipsec</td>
      <td>/etc/ipsec</td>
      <td>/etc/ipsec</td>
    </tr>
    <tr>
      <th>shell</th>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
    </tr>
  </tbody>
</table>
       </div>
       <div id="nuucp" class="tab-pane">
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dehamsp40</th>
      <th>denotsp40</th>
      <th>denotsp41</th>
      <th>dehamsp36</th>
      <th>denotsp36</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>User</th>
      <td>nuucp</td>
      <td>nuucp</td>
      <td>nuucp</td>
      <td>nuucp</td>
      <td>nuucp</td>
    </tr>
    <tr>
      <th>id</th>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>pgrp</th>
      <td>uucp</td>
      <td>uucp</td>
      <td>uucp</td>
      <td>uucp</td>
      <td>uucp</td>
    </tr>
    <tr>
      <th>groups</th>
      <td>uucp</td>
      <td>uucp</td>
      <td>uucp</td>
      <td>uucp</td>
      <td>uucp</td>
    </tr>
    <tr>
      <th>home</th>
      <td>/var/spool/uucppublic</td>
      <td>/var/spool/uucppublic</td>
      <td>/var/spool/uucppublic</td>
      <td>/var/spool/uucppublic</td>
      <td>/var/spool/uucppublic</td>
    </tr>
    <tr>
      <th>shell</th>
      <td>/usr/sbin/uucp/uucico</td>
      <td>/usr/sbin/uucp/uucico</td>
      <td>/usr/sbin/uucp/uucico</td>
      <td>/usr/sbin/uucp/uucico</td>
      <td>/usr/sbin/uucp/uucico</td>
    </tr>
    <tr>
      <th>gecos</th>
      <td>uucp login user</td>
      <td>uucp login user</td>
      <td>uucp login user</td>
      <td>uucp login user</td>
      <td>uucp login user</td>
    </tr>
  </tbody>
</table>
       </div>
       <div id="pconsole" class="tab-pane">
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dehamsp40</th>
      <th>denotsp40</th>
      <th>denotsp41</th>
      <th>dehamsp36</th>
      <th>denotsp36</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>User</th>
      <td>pconsole</td>
      <td>pconsole</td>
      <td>pconsole</td>
      <td>pconsole</td>
      <td>pconsole</td>
    </tr>
    <tr>
      <th>id</th>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>pgrp</th>
      <td>system</td>
      <td>system</td>
      <td>system</td>
      <td>system</td>
      <td>system</td>
    </tr>
    <tr>
      <th>groups</th>
      <td>system,pconsole</td>
      <td>system,pconsole</td>
      <td>system,pconsole</td>
      <td>system,pconsole</td>
      <td>system,pconsole</td>
    </tr>
    <tr>
      <th>home</th>
      <td>/var/adm/pconsole</td>
      <td>/var/adm/pconsole</td>
      <td>/var/adm/pconsole</td>
      <td>/var/adm/pconsole</td>
      <td>/var/adm/pconsole</td>
    </tr>
    <tr>
      <th>shell</th>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
    </tr>
  </tbody>
</table>
       </div>
       <div id="srvproxy" class="tab-pane">
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dehamsp40</th>
      <th>denotsp40</th>
      <th>denotsp41</th>
      <th>dehamsp36</th>
      <th>denotsp36</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>User</th>
      <td>srvproxy</td>
      <td>srvproxy</td>
      <td>srvproxy</td>
      <td>srvproxy</td>
      <td>srvproxy</td>
    </tr>
    <tr>
      <th>id</th>
      <td>202</td>
      <td>244</td>
      <td>202</td>
      <td>205</td>
      <td>205</td>
    </tr>
    <tr>
      <th>pgrp</th>
      <td>system</td>
      <td>system</td>
      <td>system</td>
      <td>system</td>
      <td>system</td>
    </tr>
    <tr>
      <th>groups</th>
      <td>system,staff</td>
      <td>system,staff</td>
      <td>system,staff</td>
      <td>system,staff</td>
      <td>system,staff</td>
    </tr>
    <tr>
      <th>home</th>
      <td>/home/srvproxy</td>
      <td>/home/srvproxy</td>
      <td>/home/srvproxy</td>
      <td>/home/srvproxy</td>
      <td>/home/srvproxy</td>
    </tr>
    <tr>
      <th>shell</th>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
    </tr>
    <tr>
      <th>gecos</th>
      <td>Service Proxy Daemon</td>
      <td>Service Proxy Daemon</td>
      <td>Service Proxy Daemon</td>
      <td>Service Proxy Daemon</td>
      <td>Service Proxy Daemon</td>
    </tr>
  </tbody>
</table>
       </div>
       <div id="esaadmin" class="tab-pane">
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dehamsp40</th>
      <th>denotsp41</th>
      <th>dehamsp36</th>
      <th>denotsp36</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>User</th>
      <td>esaadmin</td>
      <td>esaadmin</td>
      <td>esaadmin</td>
      <td>esaadmin</td>
    </tr>
    <tr>
      <th>id</th>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>pgrp</th>
      <td>system</td>
      <td>system</td>
      <td>system</td>
      <td>system</td>
    </tr>
    <tr>
      <th>groups</th>
      <td>system,staff</td>
      <td>system,staff</td>
      <td>system,staff</td>
      <td>system,staff</td>
    </tr>
    <tr>
      <th>home</th>
      <td>/var/esa</td>
      <td>/var/esa</td>
      <td>/var/esa</td>
      <td>/var/esa</td>
    </tr>
    <tr>
      <th>shell</th>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
    </tr>
  </tbody>
</table>
       </div>
       <div id="sshd" class="tab-pane">
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dehamsp40</th>
      <th>denotsp40</th>
      <th>denotsp41</th>
      <th>dehamsp36</th>
      <th>denotsp36</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>User</th>
      <td>sshd</td>
      <td>sshd</td>
      <td>sshd</td>
      <td>sshd</td>
      <td>sshd</td>
    </tr>
    <tr>
      <th>id</th>
      <td>203</td>
      <td>202</td>
      <td>203</td>
      <td>202</td>
      <td>202</td>
    </tr>
    <tr>
      <th>pgrp</th>
      <td>sshd</td>
      <td>sshd</td>
      <td>sshd</td>
      <td>sshd</td>
      <td>sshd</td>
    </tr>
    <tr>
      <th>groups</th>
      <td>sshd,staff</td>
      <td>sshd,staff</td>
      <td>sshd,staff</td>
      <td>sshd,staff</td>
      <td>sshd,staff</td>
    </tr>
    <tr>
      <th>home</th>
      <td>/var/empty</td>
      <td>/var/empty</td>
      <td>/var/empty</td>
      <td>/var/empty</td>
      <td>/var/empty</td>
    </tr>
    <tr>
      <th>shell</th>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
    </tr>
  </tbody>
</table>
       </div>
       <div id="nagios" class="tab-pane">
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dehamsp40</th>
      <th>denotsp40</th>
      <th>denotsp41</th>
      <th>dehamsp36</th>
      <th>denotsp36</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>User</th>
      <td>nagios</td>
      <td>nagios</td>
      <td>nagios</td>
      <td>nagios</td>
      <td>nagios</td>
    </tr>
    <tr>
      <th>id</th>
      <td>5000</td>
      <td>5000</td>
      <td>5000</td>
      <td>5000</td>
      <td>10101</td>
    </tr>
    <tr>
      <th>pgrp</th>
      <td>nagios</td>
      <td>nagios</td>
      <td>nagios</td>
      <td>nagios</td>
      <td>nagios</td>
    </tr>
    <tr>
      <th>groups</th>
      <td>nagios,staff</td>
      <td>nagios,ftproot</td>
      <td>nagios,staff</td>
      <td>nagios</td>
      <td>nagios</td>
    </tr>
    <tr>
      <th>home</th>
      <td>/usr/local/nagios</td>
      <td>/usr/local/nagios</td>
      <td>/usr/local/nagios</td>
      <td>/usr/local/nagios</td>
      <td>/usr/local/nagios</td>
    </tr>
    <tr>
      <th>shell</th>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
    </tr>
    <tr>
      <th>gecos</th>
      <td>Nagios Admin User</td>
      <td>Nagios Admin User</td>
      <td>Nagios Admin User</td>
      <td>Nagios Admin user</td>
      <td>Nagios Admin user</td>
    </tr>
  </tbody>
</table>
       </div>
       <div id="critter" class="tab-pane">
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dehamsp40</th>
      <th>denotsp40</th>
      <th>denotsp41</th>
      <th>dehamsp36</th>
      <th>denotsp36</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>User</th>
      <td>critter</td>
      <td>critter</td>
      <td>critter</td>
      <td>critter</td>
      <td>critter</td>
    </tr>
    <tr>
      <th>id</th>
      <td>888</td>
      <td>8395931</td>
      <td>888</td>
      <td>203</td>
      <td>203</td>
    </tr>
    <tr>
      <th>pgrp</th>
      <td>knadmin</td>
      <td>system</td>
      <td>knadmin</td>
      <td>knadmin</td>
      <td>knadmin</td>
    </tr>
    <tr>
      <th>groups</th>
      <td>knadmin</td>
      <td>system,staff,knadmin</td>
      <td>knadmin</td>
      <td>knadmin,staff</td>
      <td>knadmin,staff</td>
    </tr>
    <tr>
      <th>home</th>
      <td>/local/home/critter</td>
      <td>/home/critter</td>
      <td>/local/home/critter</td>
      <td>/home/critter</td>
      <td>/home/critter</td>
    </tr>
    <tr>
      <th>shell</th>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
    </tr>
    <tr>
      <th>gecos</th>
      <td>Carsten Ritter, GI-ID</td>
      <td>Carsten Ritter, GI-ID</td>
      <td>Carsten Ritter, GI-ID</td>
      <td>Carsten Ritter, GI-ID</td>
      <td>Carsten Ritter, GI-ID</td>
    </tr>
  </tbody>
</table>
       </div>
       <div id="ujanssen" class="tab-pane">
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dehamsp40</th>
      <th>denotsp40</th>
      <th>denotsp41</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>User</th>
      <td>ujanssen</td>
      <td>ujanssen</td>
      <td>ujanssen</td>
    </tr>
    <tr>
      <th>id</th>
      <td>330</td>
      <td>8395935</td>
      <td>330</td>
    </tr>
    <tr>
      <th>pgrp</th>
      <td>knadmin</td>
      <td>system</td>
      <td>knadmin</td>
    </tr>
    <tr>
      <th>groups</th>
      <td>knadmin</td>
      <td>system,staff,knadmin</td>
      <td>knadmin</td>
    </tr>
    <tr>
      <th>home</th>
      <td>/local/home/ujanssen</td>
      <td>/home/ujanssen</td>
      <td>/local/home/ujanssen</td>
    </tr>
    <tr>
      <th>shell</th>
      <td>/usr/bin/bash</td>
      <td>/usr/bin/bash</td>
      <td>/usr/bin/bash</td>
    </tr>
    <tr>
      <th>gecos</th>
      <td>Urs Janssen, GI-ID</td>
      <td>Urs Janssen, GI-ID</td>
      <td>Urs Janssen, GI-ID</td>
    </tr>
  </tbody>
</table>
       </div>
       <div id="nketelse" class="tab-pane">
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dehamsp40</th>
      <th>denotsp40</th>
      <th>denotsp41</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>User</th>
      <td>nketelse</td>
      <td>nketelse</td>
      <td>nketelse</td>
    </tr>
    <tr>
      <th>id</th>
      <td>355</td>
      <td>8395937</td>
      <td>355</td>
    </tr>
    <tr>
      <th>pgrp</th>
      <td>knadmin</td>
      <td>system</td>
      <td>knadmin</td>
    </tr>
    <tr>
      <th>groups</th>
      <td>knadmin</td>
      <td>system,staff,knadmin</td>
      <td>knadmin</td>
    </tr>
    <tr>
      <th>home</th>
      <td>/local/home/nketelse</td>
      <td>/home/nketelse</td>
      <td>/local/home/nketelse</td>
    </tr>
    <tr>
      <th>shell</th>
      <td>/usr/bin/bash</td>
      <td>/usr/bin/bash</td>
      <td>/usr/bin/bash</td>
    </tr>
    <tr>
      <th>gecos</th>
      <td>Nils Ketelsen, GI-ID</td>
      <td>Nils Ketelsen, GI-ID</td>
      <td>Nils Ketelsen, GI-ID</td>
    </tr>
  </tbody>
</table>
       </div>
       <div id="ohannula" class="tab-pane">
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dehamsp40</th>
      <th>denotsp40</th>
      <th>denotsp41</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>User</th>
      <td>ohannula</td>
      <td>ohannula</td>
      <td>ohannula</td>
    </tr>
    <tr>
      <th>id</th>
      <td>11032</td>
      <td>8395939</td>
      <td>11032</td>
    </tr>
    <tr>
      <th>pgrp</th>
      <td>knadmin</td>
      <td>system</td>
      <td>knadmin</td>
    </tr>
    <tr>
      <th>groups</th>
      <td>knadmin</td>
      <td>system,staff,knadmin</td>
      <td>knadmin</td>
    </tr>
    <tr>
      <th>home</th>
      <td>/local/home/ohannula</td>
      <td>/home/ohannula</td>
      <td>/local/home/ohannula</td>
    </tr>
    <tr>
      <th>shell</th>
      <td>/usr/bin/bash</td>
      <td>/usr/bin/bash</td>
      <td>/usr/bin/bash</td>
    </tr>
    <tr>
      <th>gecos</th>
      <td>Olev Hannula, GI-ID</td>
      <td>Olev Hannula, GI-ID</td>
      <td>Olev Hannula, GI-ID</td>
    </tr>
  </tbody>
</table>
       </div>
       <div id="rwolter" class="tab-pane">
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dehamsp40</th>
      <th>denotsp40</th>
      <th>denotsp41</th>
      <th>dehamsp36</th>
      <th>denotsp36</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>User</th>
      <td>rwolter</td>
      <td>rwolter</td>
      <td>rwolter</td>
      <td>rwolter</td>
      <td>rwolter</td>
    </tr>
    <tr>
      <th>id</th>
      <td>1000001</td>
      <td>1000001</td>
      <td>1000001</td>
      <td>1000001</td>
      <td>1000001</td>
    </tr>
    <tr>
      <th>pgrp</th>
      <td>knadmin</td>
      <td>knadmin</td>
      <td>knadmin</td>
      <td>knadmin</td>
      <td>knadmin</td>
    </tr>
    <tr>
      <th>groups</th>
      <td>knadmin</td>
      <td>knadmin,staff</td>
      <td>knadmin</td>
      <td>knadmin,staff</td>
      <td>knadmin,staff</td>
    </tr>
    <tr>
      <th>home</th>
      <td>/local/home/rwolter</td>
      <td>/home/rwolter</td>
      <td>/local/home/rwolter</td>
      <td>/home/rwolter</td>
      <td>/home/rwolter</td>
    </tr>
    <tr>
      <th>shell</th>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
    </tr>
    <tr>
      <th>gecos</th>
      <td>Rudolf Wolter, GI-ID</td>
      <td>Rudolf Wolter, GD-ID</td>
      <td>Rudolf Wolter, GI-ID</td>
      <td>Rudolf Wolter, GD-ID</td>
      <td>Rudolf Wolter, GD-ID</td>
    </tr>
  </tbody>
</table>
       </div>
       <div id="kharrak" class="tab-pane">
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dehamsp40</th>
      <th>denotsp40</th>
      <th>denotsp41</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>User</th>
      <td>kharrak</td>
      <td>kharrak</td>
      <td>kharrak</td>
    </tr>
    <tr>
      <th>id</th>
      <td>8396000</td>
      <td>8395946</td>
      <td>8396000</td>
    </tr>
    <tr>
      <th>pgrp</th>
      <td>knadmin</td>
      <td>system</td>
      <td>knadmin</td>
    </tr>
    <tr>
      <th>groups</th>
      <td>knadmin</td>
      <td>system,knadmin</td>
      <td>knadmin</td>
    </tr>
    <tr>
      <th>home</th>
      <td>/local/home/kharrak</td>
      <td>/home/kharrak</td>
      <td>/local/home/kharrak</td>
    </tr>
    <tr>
      <th>shell</th>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
    </tr>
    <tr>
      <th>gecos</th>
      <td>Karl-Hans Arrak, GI-ID</td>
      <td>Karl-Hans Arrak, GI-ID</td>
      <td>Karl-Hans Arrak, GI-ID</td>
    </tr>
  </tbody>
</table>
       </div>
       <div id="hholst" class="tab-pane">
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dehamsp40</th>
      <th>denotsp40</th>
      <th>denotsp41</th>
      <th>dehamsp36</th>
      <th>denotsp36</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>User</th>
      <td>hholst</td>
      <td>hholst</td>
      <td>hholst</td>
      <td>hholst</td>
      <td>hholst</td>
    </tr>
    <tr>
      <th>id</th>
      <td>83956021</td>
      <td>8395947</td>
      <td>83956021</td>
      <td>206</td>
      <td>206</td>
    </tr>
    <tr>
      <th>pgrp</th>
      <td>knadmin</td>
      <td>knadmin</td>
      <td>knadmin</td>
      <td>knadmin</td>
      <td>knadmin</td>
    </tr>
    <tr>
      <th>groups</th>
      <td>knadmin</td>
      <td>knadmin,staff</td>
      <td>knadmin</td>
      <td>knadmin,staff</td>
      <td>knadmin,staff</td>
    </tr>
    <tr>
      <th>home</th>
      <td>/local/home/hholst</td>
      <td>/home/hholst</td>
      <td>/local/home/hholst</td>
      <td>/home/hholst</td>
      <td>/home/hholst</td>
    </tr>
    <tr>
      <th>shell</th>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
    </tr>
    <tr>
      <th>gecos</th>
      <td>Henrik Holst, HAM GI-ID</td>
      <td>Henrik Holst, HAM GI-ID</td>
      <td>Henrik Holst, HAM GI-ID</td>
      <td>Henrik Holst, HAM GI-ID</td>
      <td>Henrik Holst, HAM GI-ID</td>
    </tr>
  </tbody>
</table>
       </div>
       <div id="edi" class="tab-pane">
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dehamsp40</th>
      <th>denotsp40</th>
      <th>denotsp41</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>User</th>
      <td>edi</td>
      <td>edi</td>
      <td>edi</td>
    </tr>
    <tr>
      <th>id</th>
      <td>201</td>
      <td>341</td>
      <td>201</td>
    </tr>
    <tr>
      <th>pgrp</th>
      <td>edi</td>
      <td>ftpedi</td>
      <td>edi</td>
    </tr>
    <tr>
      <th>groups</th>
      <td>edi,ediops</td>
      <td>ftpedi</td>
      <td>edi,ediops</td>
    </tr>
    <tr>
      <th>home</th>
      <td>/home/edi</td>
      <td>/home/edi</td>
      <td>/home/edi</td>
    </tr>
    <tr>
      <th>shell</th>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
    </tr>
    <tr>
      <th>gecos</th>
      <td>edi</td>
      <td>Information Broker</td>
      <td>edi</td>
    </tr>
  </tbody>
</table>
       </div>
       <div id="ansiblec" class="tab-pane">
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dehamsp40</th>
      <th>denotsp40</th>
      <th>denotsp41</th>
      <th>dehamsp36</th>
      <th>denotsp36</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>User</th>
      <td>ansiblec</td>
      <td>ansiblec</td>
      <td>ansiblec</td>
      <td>ansiblec</td>
      <td>ansiblec</td>
    </tr>
    <tr>
      <th>id</th>
      <td>501</td>
      <td>501</td>
      <td>501</td>
      <td>501</td>
      <td>501</td>
    </tr>
    <tr>
      <th>pgrp</th>
      <td>ansible</td>
      <td>ansible</td>
      <td>ansible</td>
      <td>ansible</td>
      <td>ansible</td>
    </tr>
    <tr>
      <th>groups</th>
      <td>ansible,staff</td>
      <td>ansible,staff</td>
      <td>ansible,staff</td>
      <td>ansible,staff</td>
      <td>ansible,staff</td>
    </tr>
    <tr>
      <th>home</th>
      <td>/home/ansiblec</td>
      <td>/home/ansiblec</td>
      <td>/home/ansiblec</td>
      <td>/home/ansiblec</td>
      <td>/home/ansiblec</td>
    </tr>
    <tr>
      <th>shell</th>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
      <td>/usr/bin/ksh</td>
    </tr>
    <tr>
      <th>gecos</th>
      <td>Ansible Client User</td>
      <td>Ansible Client User</td>
      <td>Ansible Client User for OSY</td>
      <td>Ansible Client User for OSY</td>
      <td>Ansible Client User for OSY</td>
    </tr>
    <tr>
      <th>roles</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
       </div>
       <div id="edi0" class="tab-pane">
