<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
        <title> {% block title %} {% endblock %} </title>
    </head>
    <body>
        <div class="container main-header">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4"><h2><a href="/">Easy Management</a></h2></div>
                <div class="col-sm-4"></div>
            </div>
        </div>
        <div class="container">
            <ul class="navbar navbar-default list-inline">
                <li><a href="/">Home</a></li>
                <li><a href="/users">Users</a></li>
            </ul>
        </div>

        <div class="container">
        {% block body %}{% endblock %}
        </div>

        <div class="container">
            <nav class="navbar navbar-fixed-bottom main-footer">
                <div class="container-fluid">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <ul class="list-inline">
                            <li class="text-muted">Easy Management &copy; 2017</li>
                            <li><a href="">FAQ</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </nav>
        </div>
    </body>
</html>