/*
.tree-l1 {
    margin-left:0px;
}

.tree-l2 {
    margin-left:8px;
}

.tree-l3 {
    margin-left:16px;
}

.tree-l4 {
    margin-left:24px;
}
*/

ul{
  margin-left:0px;
}

ul ul{
  margin-left:9px;
}

ul ul ul{
  margin-left:18px;
}

ul ul ul ul{
  margin-left:27px;
}