.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height 60px;
    padding-top: 10px;
    border-top: 1px solid #e9e9e9;
}

.main-footer {
    background-color: #ffffff !important;
    margin-top: 6px;
    border: #cdcdcd medium solid;
    border-radius: 6px;
}

.main-header {
    background-color: #ffffff !important;
    margin-top: 6px;
    border: #cdcdcd medium solid;
    border-radius: 6px;
}

.sheets-footer {
    position: relative;
    bottom: 0;
    color: #e9e9e9
    width: 100%;
    height 30px;
}

.nav-bigger {
    font-size: 18px;
}

.container-main {
    min-height 80%
}